<div class="navbar">
    <div class="flex-navbar"  *ngIf="this.form.get('sliderState')?.value === false">
        <div class="icon-navbar">
            <mat-icon color="accent">collections</mat-icon> 
        </div>
       <div class="text-navbar">
        Gallery Mode
       </div> 
       <div class="slider-navbar" [formGroup]="form">
        <mat-slide-toggle formControlName="sliderState" ></mat-slide-toggle>
       </div>
    </div>

    <div class="flex-navbar"  *ngIf="this.form.get('sliderState')?.value === true">
        <div class="icon-navbar">
            <mat-icon color="accent">table_chart</mat-icon> 
        </div>
       <div class="text-navbar">
           Table Mode
       </div> 
       <div class="slider-navbar" [formGroup]="form">
        <mat-slide-toggle formControlName="sliderState" ></mat-slide-toggle>
       </div>
    </div>

</div>

<div *ngIf="this.form.get('sliderState')?.value === false">
    <app-gallery></app-gallery>
</div>

<div *ngIf="this.form.get('sliderState')?.value === true">
    <app-table-users [dataSource]="dataSource"></app-table-users>
</div>